In [1]:
1+1

2

In [2]:
6%2

0

In [3]:
9%2

1

In [4]:
6**2

36

In [5]:
13//2

6

In [6]:
age=25
age

25

In [7]:
name = "param"
name

'param'

In [10]:
age, name = 20, 'Saluja'

In [11]:
age, name

(20, 'Saluja')

In [18]:
x= 7
y= 3.0
z= x/y
print(z)
type(x)
type(y)

2.3333333333333335

float

In [20]:
y

3.0

In [22]:
int(y)

3

In [24]:
x

7

In [25]:
p = float(x)

In [26]:
p

7.0

In [27]:
name

'Saluja'

In [28]:
print(type(name))

<class 'str'>

In [29]:
name1 = 'param'
name2 = "Saluja"

In [42]:
dialogue = name1 + ' said, you\'re the best, ' + name2
dialogue

"param said, you're the best, Saluja"

In [46]:
sentence = dialogue*5
print(sentence)
print(len(sentence))

param said, you're the best, Salujaparam said, you're the best, Salujaparam said, you're the best, Salujaparam said, you're the best, Salujaparam said, you're the best, Saluja
175

In [47]:
course = True
not_awesome = False

In [48]:
course

True

In [49]:
1<2

True

In [50]:
1>2

False

In [51]:
1<2 or 2<3

True

In [52]:
1<2 or 3<2

True

In [53]:
1<2 and 2<3

True

In [54]:
1<2 and 3<2

False

In [60]:
a = 1<2
not(a)

False

In [61]:
not(2<1)

True

In [2]:
movie = "Harry Potter and the Prisoner of Askaban"
movie.upper()

'HARRY POTTER AND THE PRISONER OF ASKABAN'

In [65]:
print(movie.upper())

HARRY POTTER AND THE PRISONER OF ASKABAN

In [66]:
print(movie.lower())

harry potter and the prisoner of askaban

In [4]:
print(movie.count('a'))

4

In [5]:
names = ['john', 'jane', 'joe']

In [6]:
names[0]

'john'

In [7]:
names[1]

'jane'

In [8]:
names[2]

'joe'

In [10]:
random_variable = [True, False, 'param', 2, 3.4]

In [14]:
length = len(random_variable)

In [19]:
random_variable[-3]

'param'

In [20]:
ordered_numbers = [0,1,2,3,4,5,6,7,8,9,10]

In [21]:
ordered_numbers[2:10]

[2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
ordered_numbers[:6]

[0, 1, 2, 3, 4, 5]

In [23]:
ordered_numbers[3:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
numbers = list(range(0,100,3))

In [39]:
numbers

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [40]:
months = ['jan', 'feb', 'mar']

In [44]:
print('jan' in months)

True

In [45]:
print('june' not in months)

True

In [46]:
course = 'param is best'
'best' in course

True

In [47]:
'aram' in course

True

In [ ]:
Strings are immutable
Lists are mutable

In [49]:
grocery_list = ['bananas', 'apples', 'peas']

In [50]:
grocery_list[2] = 'oranges'

In [51]:
grocery_list

['bananas', 'apples', 'oranges']

In [52]:
misspelled_vegetable = 'qucumber'

In [53]:
misspelled_vegetable[0] = 'c'

TypeError: 'str' object does not support item assignment

In [54]:
name = 'param'
other_name = name
name = 'Saluja'
print(name)
print(other_name)

Saluja
param

In [55]:
books = ['the catcher in the rye', 'lord of the rings']
more_books = books
books[0] = 'A song of ice and fire'
print(books)
print(more_books)

['A song of ice and fire', 'lord of the rings']
['A song of ice and fire', 'lord of the rings']

In [58]:
numbers = [4,3,7,2]
len(numbers)

4

In [59]:
max(numbers)

7

In [60]:
min(numbers)

2

In [65]:
names = ['param', 'saluja', 'meha']

In [66]:
max(names)

'saluja'

In [68]:
min(names)

'meha'

In [69]:
sorted(numbers)

[2, 3, 4, 7]

In [70]:
sorted(names)

['meha', 'param', 'saluja']

In [72]:
' '.join(['jan', 'feb', 'mar'])

'jan feb mar'

In [73]:
print('This person is {}, {} and {}'.format('tall', 'slim', 'blonde'))

This person is tall, slim and blonde

In [74]:
months = ['jan', 'feb', 'mar']

In [75]:
months.append('april')

In [76]:
months

['jan', 'feb', 'mar', 'april']

In [77]:
traits = ('tall', 'slim', 'blonde')

In [79]:
height = traits[0]
height

'tall'

In [80]:
build = traits[1]
build

'slim'

In [81]:
name1, name2 = 'param', 'meha'

In [82]:
print(name1, name2)

param meha

In [83]:
duplicate_numbers = [1,1,2,2,3,3]

In [84]:
unique_numbers = set(duplicate_numbers)

In [85]:
unique_numbers

{1, 2, 3}

In [86]:
unique_numbers.add(4)

In [87]:
unique_numbers

{1, 2, 3, 4}

In [88]:
unique_numbers.add(2)

In [89]:
unique_numbers

{1, 2, 3, 4}

In [90]:
print(2 in unique_numbers)

True

In [3]:
inventory = {'bananas': 1.29, 'apples': 2.99, 'papayas': 1.34}

In [4]:
inventory

{'bananas': 1.29, 'apples': 2.99, 'papayas': 1.34}

In [7]:
inventory['bananas']

1.29

In [8]:
inventory['bananas'] = 2.99

In [9]:
inventory

{'bananas': 2.99, 'apples': 2.99, 'papayas': 1.34}

In [10]:
banana_price = inventory.get('bananas')
banana_price

2.99

In [11]:
print('papayas' in inventory)

True

In [12]:
print('strawberries' in inventory)

False

In [13]:
inventory = {'bananas': {'price': 1.22, 'country of origin': 'Guatamela'}, 'apples': {'price': 2.99, 'country of origin': 'United Kingdom'}, 'papayas': {'price': 1.34, 'country of origin': 'Costa rica'}}

In [14]:
inventory

{'bananas': {'price': 1.22, 'country of origin': 'Guatamela'},
 'apples': {'price': 2.99, 'country of origin': 'United Kingdom'},
 'papayas': {'price': 1.34, 'country of origin': 'Costa rica'}}

In [20]:
inventory['bananas']['country of origin']

'Guatamela'