In [1]:
1+1

2

In [2]:
6%2

0

In [3]:
9%2

1

In [4]:
6**2

36

In [5]:
13//2

6

In [6]:
age=25
age

25

In [7]:
name = "param"
name

'param'

In [10]:
age, name = 20, 'Saluja'

In [11]:
age, name

(20, 'Saluja')

In [18]:
x= 7
y= 3.0
z= x/y
print(z)
type(x)
type(y)

2.3333333333333335

float

In [20]:
y

3.0

In [22]:
int(y)

3

In [24]:
x

7

In [25]:
p = float(x)

In [26]:
p

7.0

In [27]:
name

'Saluja'

In [28]:
print(type(name))

<class 'str'>

In [29]:
name1 = 'param'
name2 = "Saluja"

In [42]:
dialogue = name1 + ' said, you\'re the best, ' + name2
dialogue

"param said, you're the best, Saluja"

In [46]:
sentence = dialogue*5
print(sentence)
print(len(sentence))

param said, you're the best, Salujaparam said, you're the best, Salujaparam said, you're the best, Salujaparam said, you're the best, Salujaparam said, you're the best, Saluja
175

In [47]:
course = True
not_awesome = False

In [48]:
course

True

In [49]:
1<2

True

In [50]:
1>2

False

In [51]:
1<2 or 2<3

True

In [52]:
1<2 or 3<2

True

In [53]:
1<2 and 2<3

True

In [54]:
1<2 and 3<2

False

In [60]:
a = 1<2
not(a)

False

In [61]:
not(2<1)

True

In [2]:
movie = "Harry Potter and the Prisoner of Askaban"
movie.upper()

'HARRY POTTER AND THE PRISONER OF ASKABAN'

In [65]:
print(movie.upper())

HARRY POTTER AND THE PRISONER OF ASKABAN

In [66]:
print(movie.lower())

harry potter and the prisoner of askaban

In [4]:
print(movie.count('a'))

4

In [5]:
names = ['john', 'jane', 'joe']

In [6]:
names[0]

'john'

In [7]:
names[1]

'jane'

In [8]:
names[2]

'joe'

In [10]:
random_variable = [True, False, 'param', 2, 3.4]

In [14]:
length = len(random_variable)

In [19]:
random_variable[-3]

'param'

In [20]:
ordered_numbers = [0,1,2,3,4,5,6,7,8,9,10]

In [21]:
ordered_numbers[2:10]

[2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
ordered_numbers[:6]

[0, 1, 2, 3, 4, 5]

In [23]:
ordered_numbers[3:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
numbers = list(range(0,10))